*.hdf5
.vscode
__pycache__
*.pyc
plots/*
*.csv
carbon.csv
*.ipynb
sillcubes/*
*.npy
sillcubes/sillcube3600000000000.0.vtk
sillcubes3.000e+09/*
.DS_Store
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.ipynb
*.vtk
NewTuLIP/*